

html{
position: relative;
min-height: 100%;
}

body{
    margin-bottom: 80px;
    background-color: #e6e6e6;
}



.form-control{
    border-radius: 3px;
    height: 38px;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #000000/*#f96e5b*/;
    
}

.text-muted {
    margin: 10px 20px;
    color: white;
}

.option{
    cursor: pointer;
}


.item{
    width: 100%;
    margin: 5px;
    background-color: aqua;
    padding: 10px;    
}

.menu-button{
    background-color: #FFC22A!important;
    border-radius: 0px!important;
    border-left:1px!important;
    border-right:1px!important;
    padding: 20px 0px!important;
    height: auto!important;
    
}

.menu-button:hover,.menu-button:focus{
    background-color: #FFB600!important;
    
}

.selected{
    background-color: green;
}

div.seat{
    border: 1px solid;
    width: 20%;
    height: 100px;
    display:inline-block;
}
div.driver{
    border: 1px solid;
    width: 20%;
    height: 100px;
    display:inline-block;
    vertical-align: top;
    
    text-align: center;
}

.two{
    margin-left:20%;
}

.col-md-6{
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}
div.taken{
    border: 1px solid;
    width: 20%;
    height: 100px;
    display:inline-block;
    background-color: rgba(128,128,128,0.4);
}